<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Восстановление пароля</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/loginstyle.css' %}">
</head>
<body>
    <form class="box" action="." method="post">
        <h1> Проверьте свой почтовый ящик </h1>
        <p> Мы отправили вам по электронной почте инструкции по установке пароля. Вы получите письмо в ближайшее время! </p>
    </form>
</body>
</html>