h1, h2, h3, h4 {
    color: red;
    text-align: center;
    font: 45px Arial;
}

p {
    color: green;
    font-size: 40px;
    text-align: left;
}

    p span {
        color: darkblue;
        font-size: 25px;
    }

.foto {
    display: block;
    margin: 0 auto;
}

body {
    background: url(img/logo.jpg); /* Фоновый цвет и фоновый рисунок*/
    /*color: #fff; - Цвет текста на странице
    background-attachment: fixed; - Фон страницы фиксируется 
    background-repeat: repeat-x; - Изображение повторяется по горизонтали*/
    /*Фоновое изображение и цвет фона рекомендуется задавать не с помощью HTML,
    а с помощью CSS. В таком случае код будет валидным и более правильным.*/
}

abbr {
    color: green;
    /*border-bottom: 2px dashed darkorange;*/ /* Пунктирное подчеркивание текста */
}

li {
    font-size: 45px;
}

    li span {
        color: grey;
        font-size: 25px;
    }

a {
    color: mediumvioletred;
    font-size: 45px;
}
