<!DOCTYPE html>
 <!-- стандарт HTML5 -->

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" /> <!-- кодировка -->
    <meta name="description" content="Арендовать авто." />
    <title>Аренда авто</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"> <!-- ссылка на css документ -->
</head>
<body>
    <header>
        <nav>
            <div class="top-bar">
                <section class="top-bar-section">
                    <ul class="right">
                        {% if user.is_authenticated %}
                        <li><a href="accounts/logout/">Выйти ({{ user.first_name }})</a></li>
                        <li><a href="reg_log">Личный кабинет</a></li>
                        <li><a href="{% url 'edit' %}">Поменять данные</a></li>
                        <!--<li><a href="accounts/logout/">Выйти ({{ user.username }})</a></li>-->
                        {% else %}
                        <li><a href="accounts/login/">Войти</a></li>
                        {% endif %}
                    </ul>
                </section>
            </div>
            <div>
                <p></p>
                <p></p>
                <p></p>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="catalog">Каталог авто</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>