<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/registerstyle.css' %}">
</head>
<body>
    <form class="box" action="." method="post">
        <h1> Всё верно? </h1>

        {% csrf_token%}
        {{form.catalog}}
        <input type="submit" value="Заказать авто!">
        <input type="button" onclick="history.back();" value="Назад" />
    </form>
</body>
</html>